body {
    margin: 0;
    padding: 0; 
}

#navbar {
    display: flex;
    /* max-height: 10vh; */
    height: 10vh;
    background-color: rgb(237, 231, 231);
    /* background-color: #242582; */
    overflow: hidden;
}

.sticky {
    position: fixed;
    /* top: 0;
    width: 100%; */
}

#left {   
    display: flex;
    align-items: center;
    margin-left: 2vw;
    padding-top: 0px;
    padding-bottom: 0px;
}

#left img {
    margin-top: 0px;
}

#left p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1vw;
    font-size: 2rem;
    font-family: cursive;
    font-weight: bolder;
    /* color: white; */
}

#right {
    position: relative;
    left: 35vw;
}

#right ul {
    display: flex;
    list-style: none;
}

#right ul li {
    margin-left: 2.5vw;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    /* color: white; */
    display: block;
    margin-top: 1vh;
}

hr {
    position: relative;
    color: black;
}

.active {
    color: blue;
    text-decoration: underline;
}

#mySkills {
    height: 70vh;
    background-color: #ADADAD;
    display: flex;
}

#mySkillsLeft {
    width: 35%;
    margin-left: 15vw;
}

#mySkillsLeft h1 {
    color: #2E1114;
    margin-top: 5vh;
    margin-left: 2vw;
    font-family: cursive;
    font-weight: bolder;
}

#line {
    border: 3px solid #2E1114;
    margin-left: 2vw;
    border-radius: 5px;
    margin-top: 3vh;
    width: 5vw;
}

#mySkillsLeft p {
    color: #2E1114;
    font-size: 1.5rem;
    margin-left: 2vw;
    margin-top: 2vh;
    font-weight: bolder;
}

#mySkillsLeft h2 {
    color: #2E1114;
    margin-left: 2vw;
    margin-top: 4vh;
    font-weight: bolder;
}

.lineBorder {
    border: 3px solid #2E1114;
    margin-left: 1vw;
    border-radius: 5px;
    width: 5.5vw;
}

#leftBorder {
    position: relative;
    top: 3vh;
}

#rightBorder {
    margin-left: 6vw;
}

#mySkillsRight {
    /* border: 2px solid black; */
    width: 65%;
    display: flex;
    flex-direction: column;
}

#skill12 {
    width: 100%;
    height: 50%;
    display: flex;
}

.mySkills-item {
    height: 50vh;
}

#skill34 {
    width: 100%;
    height: 50%;
    display: flex;
}

.skills {
    width: 50%;
}

.icon {
    border: 2px solid #64485C;
    width: 6.5vw;
    height: 12vh;
    margin-top: 2vh;
    margin-left: 5vw;
}

.icon img {
    margin-top: 2px;
    margin-left: 5px;
}

.skills h2 {
    margin-left: 3vw;
    color: #2E1114;
    margin-top: 2vh;
}

#about {
    height: 90vh;
    background-color: #b1a296;
    display: flex;
}

#leftAbout {
    width: 35%;
}

#leftAbout img {
    margin-left: 10vw;
    margin-top: 3vh;
    height: 80vh;
}

#typedtext {
    color: #2E1114;
    font-family: cursive; 
    font-size: 30px; 
    margin: 10px 50px; 
    margin-top: 3vh;
    letter-spacing: 6px; 
    font-weight: bolder;
    margin-top: 15vh;
    margin-left: 5vw;
}

#rightAbout {
    width: 65%;
}

#rightAbout p {
    font-size: 1.2rem;
    color: #2E1114;
    margin-top: 5vh;
    margin-left: 5vw;
    font-weight: bolder;
}

#footer {
    display: flex;
    justify-content: space-around;
}

.contact-icons {
    width: 100px;
    height: 100px;
}

.contact-icons img {
    height: 70px;
    width: 70px;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.contact-icons p {
    font-size: 1.2rem;
    margin-left: 0.5vw;
}

#secondImage {
    height: 20%;
}

#gmailText {
    position: relative;
    right: 5vw;
}